@model IEnumerable<WatersAD.Data.Entities.Notification>
@{
    ViewData["Title"] = "Index";
}



<section class="about-section section-padding sectionDashboard">
    <flash dismissable="true" />
    <div class="col-lg-12 col-12">

        <h2 class="text-center">Pedidos de contador</h2>
        
    </div>
    <div class="col-lg-10 col-12 mx-auto">
        <div class="table-responsive table-containerInvoice">
            <table class="display " id="MyTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mensagem</th>
                         @if (this.User.IsInRole("Admin"))
                        {
                            <th>Data da istalação</th>
                        }
                        else
                        {
                        <th>Data do pedido</th>
                        }
                        <th>Cliente</th>


                        <th></th>



                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                    {

                        


                        <tr>
                            <td><a class="btn custom-btn  smoothscroll bi bi-three-dots-vertical" asp-action="DetailsRequestWM" asp-controller="WaterMeters" asp-route-id="@item.Id">  </a><br /></td>
                            <td>@item.Message</td>
                            <td>@item.CreatedAt.ToString("g")</td>
                            <td></td>
                            <td class="align-items-lg-center">
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <form asp-action="CreateWaterMeterAndClient" asp-controller="WaterMeters" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn custom-btn smoothscroll">Adicionar</button>
                                    </form>
                                }
                                else
                                {
                                    <a asp-action="AcceptRequest" class="btn custom-btn smoothscroll" asp-route-id="@item.Id">

                                        Aceitar pedido
                                    </a>
                                 
                                }

                              
                            </td>
                        </tr>


                       

                    }
                </tbody>
            </table>
        </div>
    </div>



</section>






@section Scripts {

    @{
        await Html.RenderPartialAsync("_DataTableJQuery");
    }
}