@model IEnumerable<WatersAD.Data.Entities.Employee>
@{
    ViewData["Title"] = "GetAllEmployees";
}

<h1>All Employees</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (item.IsActive)
                    {
                        <a asp-action="Delete" data-id="@item.Id" asp-route-id="@item.Id" class="btnDelete" data-action-url="/Employees/Delete/@item.Id">Remove</a>
                    }else
                    {
                        <a asp-action="AddEmployeeAgain" data-id="@item.Id" asp-route-id="@item.Id" class="btnAdd" data-action-url="/Employees/AddEmployeeAgain/@item.Id">Add Again</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
    </table>
   
<div id="deleteDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalMessage">Do you want to add this employee?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Yes</button>
                <button type="button" class="btn btn-secondary" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
    var actionUrl = '';

   
    $(document).on('click', '.btnAdd, .btnDelete', function () {
        
        var id = $(this).data("id");
        actionUrl = $(this).data("action-url");

        var actionText = $(this).hasClass('btnDelete') ? 'remove' : 'add again';
        $("#modalMessage").text('Are you sure you want to ' + actionText + ' this item?');

        
        $("#deleteDialog").modal('show');

        
        return false;
    });

    
    $("#btnYesDelete").click(function () {
        if (actionUrl) {
            window.location.href = actionUrl;
        }
        return false; 
    });

  
    $("#btnNoDelete").click(function () {
        $("#deleteDialog").modal('hide');
        return false; 
    });
});

  
    </script>
}