@using WatersAD.Data.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Águas Duarte - Água em movimento</title>

    <link rel="icon" href="~/image/favicon-32x32.png" type="image/x-icon">
    <!-- CSS FILES -->

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />



    <!-- Arquivos de estilos personalizados devem vir depois do Bootstrap -->
    <link href="~/css/templatemo-tiya-golf-club.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="~/WatersAD.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet" asp-append-version="true">

    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/27.1.48/material.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/27.1.48/dist/ej2.min.js"></script>
 
</head>
<body>
    <main>
      
        <nav class="navbar navbar-expand-lg navbar-colored  @(ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "ResetPassword" ? "navbarColor" : "")@(ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "ChangeUser" ? "navbarColor" : "")">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" asp-controller="Dashboard" asp-action="Index">
                    <img src="~/image/layout/logo3.svg" class="navbar-brand-image img-fluid" alt="A. Duarte">
                    <span class="navbar-brand-text">
                        A. DUARTE
                        <small>WATER IN MOTION</small>
                    </span>
                </a>

                <div class="d-lg-none ms-auto me-3">
                    <form asp-action="Logout" asp-controller="Account" method="post" class="d-inline">
                        <button type="submit" class="btn custom-btn custom-border-btn">Logout</button>
                    </form>
                   
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto">
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                        {
                       
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Index">Atuais</a></li>

                                    <li><a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="FormerClients">Antigos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Create"> + Cliente</a></li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Funcionários</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Index">Funcionários</a></li>

                                    <li><a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="FormerEmployees">Antigos</a></li>


                                   

                                        <li><a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Create"> + Funcionário</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contadores</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="WaterMeters" asp-action="Index">Em uso</a></li>

                                    <li><a class="dropdown-item" asp-area="" asp-controller="WaterMeters" asp-action="DetailsWaterServices"> + Contador</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Tiers" asp-action="Index">Escalões</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrador</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li> <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Novo Utilizador</a> </li>
                                    <li><a class="dropdown-item"asp-area="" asp-controller="Countries" asp-action="Index">Países</a> </li>
                                    <li class="dropdown-item">Roles:</li>
                                    <li>  <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangeRole" asp-route-role="Admin">Administrador</a></li>
                                    <li>  <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangeRole" asp-route-role="Employee">Funcionário</a></li>
                                    <li>  <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangeRole" asp-route-role="Customer">Cliente</a></li>
                                </ul>
                            </li>
                      
                        }
                        else
                        {
                            <li class="nav-item">

                                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Clients" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")" asp-area="" asp-controller="Clients" asp-action="Index">Clientes</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Consumptions" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")" asp-area="" asp-controller="Consumptions" asp-action="Index">Consumos</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Invoices" && ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "")" asp-area="" asp-controller="Invoices" asp-action="Index">Faturas</a>
                            </li>
                        }

                    </ul>


                    <div class="d-none d-lg-block ms-lg-3">
                        @if (this.User.Identity.IsAuthenticated)
                        {

                            <style>
                                .e-avatar {
                                    margin: 2px;
                                    border-radius: 3px;
                                }

                                .e-avatar2 {
                                    background-image: url(@Url.Content(this.User.GetImageUrl()));
                                    margin: 2px;
                                    border-radius: 3px;
                                }
                            </style>

                            <a asp-area="" asp-controller="Account" asp-action="ChangeUser">
                                
                                    @if (string.IsNullOrEmpty(this.User.GetImageUrl()))
                                    {
                                    <span class="e-avatar  e-avatar-circle blue custom-border-btn">
                                       
                                        <span>@this.User.GetInitials()</span>
                                    </span>
                                    }
                                    else
                                    {
                                          <span class="e-avatar  e-avatar-circle blue custom-border-btn e-avatar2">
                                        
                                        <span> </span>
                                    </span>
                                    }
                               
                                <span class=" btn custom-btn custom-border-btn ">@this.User.Identity.Name</span>
                            </a>

                            <form asp-action="Logout" asp-controller="Account" method="post" class="d-inline">
                                <button type="submit" class="btn custom-btn custom-border-btn">Logout</button>
                            </form>

                        }
                       
                    </div>

                </div>
            </div>

              
           
        </nav>
       
        @RenderBody()
    </main>


    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 me-auto mb-5 mb-lg-0">
                    <a class="navbar-brand d-flex align-items-center" asp-controller="Home" asp-action="Index">
                        <img src="/image/layout/logo3.svg" class="navbar-brand-image img-fluid" alt="">
                        <span class="navbar-brand-text">
                            A. DUARTE
                            <small>WATER IN MOTION</small>
                        </span>
                    </a>
                </div>

           

                <div class="col-lg-2 col-12 ms-auto">
                    <ul class="social-icon mt-lg-5 mt-3 mb-4">
                        <li class="social-icon-item">
                            <a href="https://www.instagram.com/" target="_blank" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://x.com/?lang=pt" target="_blank" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://web.whatsapp.com/" target="_blank" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                    <p class="copyright-text">&copy; 2024 Águas Duarte </p>

                </div>

            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#81B29A" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
    </footer>

   
    <!--  SCRIPTS -->


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <!-- Outros scripts que dependem de jQuery e Bootstrap -->
    <script src="~/js/layout/jquery.sticky.js" asp-append-version="true"></script>

    <script src="~/js/layout/animated-headline.js" asp-append-version="true"></script>
    <script src="~/js/layout/modernizr.js" asp-append-version="true"></script>
    <script src="~/js/layout/custom.js" asp-append-version="true"></script>



    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>

    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
 

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
