@model WatersAD.Data.Entities.City
@{
    ViewData["Title"] = "DetailsCity";
}
<section class="about-section section-padding sectionDashboard">
    <flash dismissable="true" />
    <div class="col-lg-12 col-12">

        <h2 class="text-center">Localidades</h2>
        <p class="text-center">Cidade: @Html.DisplayFor(model => model.Name)</p>
        <p class="text-center">  <a asp-action="AddLocality" asp-route-id="@Model.Id" class="btn custom-btn  smoothscroll">Adicionar localidade</a></p>
    </div>
    <div class="col-lg-6 col-12 mx-auto">
        <div class="table-responsive table-containerInvoice">
            <table class="display " id="MyTable">
                <thead>
                    <tr>

                        <th>
                            <a asp-action="Details" asp-route-id="@Model.CountryId" class="btn custom-btn  smoothscroll">Voltar</a>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Localities.FirstOrDefault().Name)
                        </th>
                        

                        <th></th>




                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Localities.OrderBy(c => c.Name))
                    {

                        <tr>

                            <td></td>
                            <td>
                                @Html.DisplayFor(model => item.Name)
                            </td>
                            
                            <td>
                               
                                <a asp-action="EditLocality" asp-route-id="@item.Id" class="bi bi-pencil-square btn custom-btn  smoothscroll">Editar</a>
                            </td>




                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DataTableJQuery");
    }


 
}
