@model WatersAD.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<section class="about-section section-padding sectionDashboard">
    <flash dismissable="true" />
    <div class="col-lg-12 col-12">

        <h2 class="text-center">Cidades</h2>
        <p class="text-center"> @Html.DisplayFor(model => model.Name)</p>
        <p class="text-center"> <a asp-action="AddCity" asp-route-id="@Model.Id" class="btn custom-btn  smoothscroll">Adicionar cidade</a></p>
    </div>
    <div class="col-lg-6 col-12 mx-auto">
        <div class="table-responsive table-containerInvoice">
            <table class="display " id="MyTable">
                <thead>
                    <tr>

                        <th>
                            <a asp-action="Index" class="btn custom-btn  smoothscroll">Voltar</a>
                        </th>
                        <th>
                           @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)
                        </th>

                       <th></th>
                        
                     


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cities.OrderBy(c => c.Name))
                    {

                        <tr>

                            <td></td>
                            <td>
                                <a asp-action="DetailsCity" asp-route-id="@item.Id">@Html.DisplayFor(model => item.Name)</a>
                            </td>
                            <td>
                                <a asp-action="AddLocality" asp-route-id="@item.Id" class="btn custom-btn  smoothscroll">Adicionar localidade</a>
                                <a asp-action="EditCity" asp-route-id="@item.Id" class="bi bi-pencil-square btn custom-btn  smoothscroll">Editar</a>
                            </td>

                          


                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>






</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_DataTableJQuery");
    }
    
}