@model WatersAD.Data.Entities.Consumption

@{
    ViewData["Title"] = "Details";
}

<section class="about-section section-padding sectionDashboard">
    <flash dismissable="true" />
    <div class="col-lg-12 col-12">

        <h2 class="text-center">Detalhes</h2>
        <br />
        <br />
        <br />
    </div>

    <div class="container col-lg-8 col-12">
      

        <div class="row">


            <div class="col-lg-6 col-md-6 col-12 me-auto mb-4 mb-lg-0">

                <h4 class="card-title"> Cliente: @Html.DisplayFor(model => model.WaterMeter.Client.FullName)</h4>
                <p class="card-text">Contador: @Html.DisplayFor(model => model.WaterMeter.WaterMeterService.SerialNumber)<br />@Html.DisplayFor(model => model.WaterMeter.FullAdress), <br />@Html.DisplayFor(model => model.WaterMeter.Locality.Name), @Html.DisplayFor(model => model.WaterMeter.Locality.City.Name) </p>

            </div>



            <div class="col-lg-6 col-md-6 col-12 me-auto mb-4 mb-lg-0">
               
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.ConsumptionDate):
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.ConsumptionDate)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.RegistrationDate):
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.RegistrationDate)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.ConsumptionValue) m&#179;:
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.ConsumptionValue)
                    </dd>


                </dl>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-12 text-end">

        <a asp-action="Index" asp-controller="Consumptions" class="btn custom-btn smoothscroll mb-4">Voltar</a>
    </div>







</section>

