@model IEnumerable<WatersAD.Data.Entities.Consumption>

@{
    ViewData["Title"] = "Index";
}




<section class="about-section section-padding sectionDashboard">
    <flash dismissable="true" />
    <div class="col-lg-12 col-12">

        <h2 class="text-center">Consumos</h2>
        <p class="text-center">Todos os consumos</p>
    </div>

    <div class="table-responsive table-containerInvoice">
        <table class="display " id="MyTable">
            <thead>
                
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ConsumptionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegistrationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ConsumptionValue) m&#179;
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WaterMeter.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WaterMeter.Client.FullName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if(item.ConsumptionValue > 0)
                    {
                        
                 
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConsumptionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConsumptionValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WaterMeter.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WaterMeter.Client.FullName)
                        </td>
                        <td>
                                
                                <a asp-action="Details" asp-route-id="@item.Id" class="bi bi-three-dots-vertical btn custom-btn  smoothscroll">Detalhes</a>


                            </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>






</section>



@section Scripts {

    @{
        await Html.RenderPartialAsync("_DataTableJQuery");
    }
  

}