@model WatersAD.Models.ChangeRoleViewModel
@{
    ViewData["Title"] = "ChangeRole";
}

<h1>ChangeRole - @Model.CurrentRole</h1>
<flash dismissable="true" />

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CurrentRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>

                <td>
                    <a asp-action="EditRole" asp-route-email="@item.Email" asp-route-currentRole="@item.UserType" class="btn btn-warning">Edit</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
