@model WatersAD.Models.ClientViewModel
@{
    ViewData["Title"] = "Details";
}

<section class="about-section section-padding sectionDashboard">
    <flash dismissable="true" />
    <div class="col-lg-12 col-12">

        <h2 class="text-center">Detalhes</h2>
        <br />
        <br />
    
    </div>
    <div class="container">
       <div class="row">

        

            <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0 ">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src=" @Url.Content(Model.Client.User.ImageFullPath)" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title"> @Html.DisplayFor(model => model.Client.FullName)</h4>
                        <p class="card-text"> @Html.DisplayFor(model => model.Email) </p>

                    </div>
                </div>
            </div>



            <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0 ">
                <br />
                <br />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PhoneNumber):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.NIF):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.NIF)
                    </dd>
                    <dt class="col-sm-4 ">
                        @Html.DisplayNameFor(model => model.Client.FullAdress):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Client.FullAdress)
                    </dd>
                  
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Client.FullPostalCode):
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Client.FullPostalCode)
                    </dd>
                    <dt class="col-sm-4">
                        Localidade:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Locality.Name)
                    </dd>
                    <dt class="col-sm-4">
                        Cidade:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City.Name)
                    </dd>
                    <dt class="col-sm-4">
                       País:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Country.Name)
                    </dd>
                 
                </dl>
            </div>

                 <div class="col-lg-12 col-12 text-end">
                <a asp-action="Edit" asp-route-id="@Model.Client.Id" class="btn custom-btn smoothscroll mb-4">Editar</a> 
                <a asp-action="Index" class="btn custom-btn smoothscroll mb-4">Voltar</a>
                 </div>

   


         </div>
    </div>

</section>

   
