@model WatersAD.Models.ChartDataViewModel

<section class="about-section section-padding">
    <flash dismissable="true" />
    
    <div>
        <!--  DashboardLayout element declaration -->
        <ejs-dashboardlayout id="dashboard" columns="4" draggableHandle=".e-panel-header" cellSpacing="@Model.CellSpacing" class="dashboard-container">
            <e-dashboardlayout-panels>
                <e-dashboardlayout-panel id="Panel" sizeX="1" sizeY="1" row="1" col="4">
                    <e-content-template>
                        <div>
                            <div class="e-panel-container">
                                <div class="e-panel-header" style="height:50px">
                                    <div class="text-white" style="font-size:22px">
                                        Informações gerais
                                    </div>
                                </div>
                                <div class="e-panel-content2">
                                    <div class="box">
                                        <strong>Clientes</strong>
                                        <p>@Model.Clients.Count()</p>
                                    </div>
                                    <div class="box">
                                        <strong>Contadores</strong>
                                        <p>@Model.WaterMeters.Count()</p>
                                    </div>
                                    <div class="box">
                                        <strong>Consumos</strong>
                                        <p>@Model.Consumptions.Count()</p>
                                    </div>
                                    <div class="box1">
                                        <br />
                                        <strong>Faturas</strong>
                                        <p>@Model.Invoices.Count()</p>
                                    </div>
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <div class="box1">
                                            <strong>Valor total anual</strong>
                                            
                                            <ul class="no-bullet-list">
                                                <br />
                                                @foreach (var year in Model.TotalAmount)
                                                {
                                                    <li>
                                                        <strong>Ano: </strong>@Html.DisplayFor(modelItem => year.Year)
                                                     
                                                        <strong>Total: </strong>@Html.DisplayFor(modelItem => year.TotalAmount)€
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </e-content-template>
                </e-dashboardlayout-panel>
                <e-dashboardlayout-panel id="Panel1" sizeX="3" sizeY="1" row="1" col="0">
                    <e-content-template>
                        <div>
                            <div class="e-panel-container">
                                <div class="e-panel-header" style="height:50px">
                                    <div class="text-white" style="font-size:22px">
                                        Quantidade de água consumida
                                    </div>
                                </div>
                                <div class="e-panel-content e-panel-content1">
                                    
                                    <!--   Column Chart element declaration -->
                                    <ejs-chart id="columnChart" highlightColor="#F2CC8F" height="80%">
                                        <e-chart-tooltipsettings enable="true" format=" ${point.x} : ${point.y}">
                                        </e-chart-tooltipsettings>
                                        <e-chart-legendsettings visible="false"></e-chart-legendsettings>
                                        <e-chart-primaryxaxis valueType="Category"></e-chart-primaryxaxis>
                                        <e-series-collection>
                                            <e-series dataSource="@Model.ChartData" name="Litros" xName='month' yName='sales' type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" fill="#3d405b"style="border-radius:5px;">
                                            </e-series>
                                        </e-series-collection>
                                    </ejs-chart>
                                    <!-- end of column chart element -->
                                </div>
                            </div>
                        </div>
                    </e-content-template>
                </e-dashboardlayout-panel>
                <e-dashboardlayout-panel id="Panel2" sizeX="1" sizeY="1" row="0" col="4">
                    <e-content-template>
                        <div>
                            <div class="e-panel-container">
                                <div class="e-panel-header" style="height:50px">
                                    <div class="text-white" style="font-size:22px">
                                        Avarias
                                    </div>
                                </div>
                                <div class="e-panel-content e-panel-content1">
                                    <!--   Pie Chart element declaration -->
                                    <ejs-accumulationchart id="pieChart1" enableAnimation="false" enableSmartLabels="true" height="300px">
                                        <e-accumulationchart-tooltipsettings enable="true" format="${point.x} : <b>${point.y}%</b>"></e-accumulationchart-tooltipsettings>
                                        <e-accumulationchart-legendsettings visible="false">
                                        </e-accumulationchart-legendsettings>
                                        <e-accumulation-series-collection>
                                            <e-accumulation-series dataSource="@Model.PieData" xName="x" yName="y" radius="70%" name="Avarias">
                                                <e-accumulationseries-datalabel name="text" visible="true" position="Inside">
                                                </e-accumulationseries-datalabel>
                                            </e-accumulation-series>
                                        </e-accumulation-series-collection>
                                    </ejs-accumulationchart>
                                    <!-- end of pie chart element -->
                                </div>
                            </div>
                        </div>
                    </e-content-template>
                </e-dashboardlayout-panel>
                <e-dashboardlayout-panel id="Panel3" sizeX="2" sizeY="1" row="0" col="1">
                    <e-content-template>
                        <div>
                            <div class="e-panel-container">
                                <div class="e-panel-header" style="height:50px">
                                    <div class="text-white" style="font-size:22px">
                                        Contadores instalados
                                    </div>
                                </div>
                                <div class="e-panel-content e-panel-content1">
                                    <!--   Line Chart element declaration -->
                                    <ejs-chart id="lineChart" height="90%">
                                        <e-chart-primaryxaxis valueType="Category">
                                        </e-chart-primaryxaxis>
                                        <e-series-collection>
                                            <e-series dataSource="@Model.LineData" xName="x" yName="y"
                                                      type="@Syncfusion.EJ2.Charts.ChartSeriesType.MultiColoredLine" pointColorMapping="color" width="3" fill="#FF5733"></e-series>
                                        </e-series-collection>
                                    </ejs-chart>
                                    <!-- end of line chart element -->
                                </div>
                            </div>
                        </div>
                    </e-content-template>
                </e-dashboardlayout-panel>
                <e-dashboardlayout-panel id="Panel4" sizeX="1" sizeY="1" row="0" col="0">
                    <e-content-template>
                        <div>
                            <div class="e-panel-container" >
                                <div class="e-panel-header" style="height:50px">
                                    <div class="text-white" style="font-size:22px">
                                        Notificações
                                    </div>
                                </div>
                                <div class="e-panel-content">

                                    <div class="centered-container">
                                        
                                        @if (Model.UnreadNotifications.Any())
                                        {
                                            <p> Tem @Model.UnreadNotifications.Count() notificaçõe</p>
                                            @foreach (var item in Model.UnreadNotifications)
                                            {
                                                <p>@item.Message</p>
                                            }

                                        }
                                        else
                                        {
                                            <p>Não há notificações pendentes</p>
                                        }

                                        <div class="d-flex justify-content-end">
                                            <a class="btn custom-btn btn-centered" asp-action="Index" asp-controller="Notification">Notificações</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </e-content-template>
                </e-dashboardlayout-panel>
            </e-dashboardlayout-panels>
        </ejs-dashboardlayout>
        <!-- end of dashboardlayout element -->
    </div>



    
</section>








<section class="events-section section-bg section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="mb-lg-3">Eventos</h2>
            </div>

            <div class="row custom-block mb-3">
                <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                    <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                        <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">24</h6>

                        <strong class="text-white">Out 27</strong>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                    <div class="custom-block-image-wrap">
                        <a href="https://www.worldwatercommunity.com/eventscal/water-talk/" target="_blank">
                            <img src="~/image/layout/evento1.png" class="custom-block-image img-fluid" alt="">

                            <i class="custom-block-icon bi-link"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-3 order-lg-0">
                    <div class="custom-block-info mt-2 mt-lg-0">
                        <a href="https://www.worldwatercommunity.com/eventscal/water-talk/" target="_blank" class="events-title mb-3">Palestra</a>

                        <p class="mb-0">Aqui abre-se um espaço de conversas sinceras, com expressões autênticas. Com Água como Água para Água. Este é um espaço de inspiração e confluência.</p>

                        <div class="d-flex flex-wrap border-top mt-4 pt-3">

                            <div class="mb-4 mb-lg-0">
                                <div class="d-flex flex-wrap align-items-center mb-1">
                                    <span class="custom-block-span">Horário:</span>

                                    <p class="mb-0">10:00 am - 11:00 am</p>
                                </div>

                                <div class="d-flex flex-wrap align-items-center">
                                    <span class="custom-block-span">Tipo:</span>

                                    <p class="mb-0">Virtual</p>
                                </div>
                            </div>

                            <div class="d-flex align-items-center ms-lg-auto">
                                <a href="https://www.worldwatercommunity.com/eventscal/water-talk/" target="_blank" class="btn custom-btn">Mais informações</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row custom-block custom-block-bg">
                <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                    <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                        <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">28</h6>

                        <strong class="text-white">Maio 2025</strong>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                    <div class="custom-block-image-wrap">
                        <a href="https://www.watermeetsmoney.com/" target="_blank">
                            <img src="~/image/layout/water4.jpg" class="custom-block-image img-fluid" alt="">

                            <i class="custom-block-icon bi-link"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-12 order-3 order-lg-0">
                    <div class="custom-block-info mt-2 mt-lg-0">
                        <a href="https://www.watermeetsmoney.com/" target="_blank" class="events-title mb-3">Global Water Summit 2025</a>

                        <p class="mb-0">
                            É um dos principais eventos internacionais focados na gestão da água, reunindo líderes de serviços públicos, governos, indústrias e instituições financeiras para abordar os desafios mais urgentes relacionados à água.
                        </p>

                        <div class="d-flex flex-wrap border-top mt-4 pt-3">

                            <div class="mb-4 mb-lg-0">
                                <div class="d-flex flex-wrap align-items-center mb-1">
                                    <span class="custom-block-span">Localização:</span>

                                    <p class="mb-0">Paris, França</p>
                                </div>

                                <div class="d-flex flex-wrap align-items-center">
                                    <span class="custom-block-span">Tipo:</span>

                                    <p class="mb-0">Presencial</p>
                                </div>
                            </div>

                            <div class="d-flex align-items-center ms-lg-auto">
                                <a href="https://www.watermeetsmoney.com/" target="_blank" class="btn custom-btn">Mais informações</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<br />
<br />
<br />
<br />
<br />



@section Scripts {

  


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var lineObj = document.getElementById('lineChart').ej2_instances[0];
            var pieObj = document.getElementById('pieChart1').ej2_instances[0];
            var splineObj = document.getElementById('columnChart').ej2_instances[0];
            lineObj.refresh(); pieObj.refresh(); splineObj.refresh();
        });
    </script>


}
